[Unit]
Description=Gunicorn instance to serve the 3DBAG dashboard
After=network.target

[Service]
User=bdukai
Group=www-data
WorkingDirectory=/var/www/3dbag-dashboard/app
Environment="PATH=/var/www/3dbag-dashboard/venv/bin"
Environment="BAG3D_DATA_DIR=/data/3DBAGv3/export/"
ExecStart=/var/www/3dbag-dashboard/venv/bin/gunicorn --workers 6 --timeout 0 --bind unix:3dbag_dashboard.sock -m 007 wsgi:server

[Install]
WantedBy=multi-user.target